ul
	margin 0

pre
	width 100%

html
	min-height: 100%
	position: relative

#app
	padding-bottom: footerHeight

.site-content
	padding-top: headerHeight

a
	color inherit

.header
	height headerHeight
	background-color black
	position fixed
	width 100%
	z-index 1000

.logo
	height headerHeight
	color white

.footer
	height: footerHeight
	background-color #1f2024
	bottom: 0;
	width: 100%;
	position: absolute;
	a
		font 17px fsl
		color #7b7b7b
		transition tr

.search
	text-align center
	background-color white
	padding 15px
	padding-bottom 0

.ser-content
.ser-content-2
	background-color white

.ser-content
	position relative
	padding-bottom 0

#map
	height 500px
	border 2px sred solid

.service-reply-form
	position relative
	margin-top 150px
	.ser__more__title
		margin-bottom 20px

.share42init
	text-align right

.share42-item
	margin-right 5px

.share42-item:last-child
	margin 0

.recom-serv
	position relative
	border 3px sred solid

.recom-serv:before
	display block
	content 'Рекомендуемые в этом месяце'
	position absolute
	right -3px
	top -49px
	background-color sred
	color white
	text-transform uppercase
	font 13px fsm
	width 308px
	height 49px
	text-align center
	padding-top 14px

#cityMap
	width 100%
	height 558px
	border 3px sred solid

.cityMap__info
	width 270px
	position relative
	padding 25px
	box-shadow 0 0 10px rgba(0,0,0,0.5)
	padding-right 0
	.s__item__name__title,
	.s__item__address_at
		display inline-block
		width 100%
	.s__item__address_at
		width 70%
		margin-bottom 35px
	.ser_rating
		text-align left
		margin 10px 0
	.s__item__more
		bottom 25px
		right 0

.cityMap__arr
	background url('../img/icons/info-arr.png') no-repeat
	position absolute
	width 20px
	height 20px
	z-index 200
	left -15px
	top 45px

#stopper
	height 70px

.sorting-fix
	height 80px

.add-company-content
	position relative

.card-header
	background-color transparent

.main-text
	padding 15px
