.form-control_border:focus
  border-color: #f5434c
  transition tr
  outline: none
  box-shadow: none

.ser__price__table_after
  position relative
  z-index 1
  cursor pointer

.ser__price__table_after:after
  content ''
  position absolute
  width 70%
  height 100%
  left 0
  top 0
  z-index -1
  cursor pointer

.art_image img
  height 380px
  margin-bottom: 15px

.btn:active, .btn.active
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .5)

.btn-group.open .dropdown-toggle
  box-shadow: none

.select .btn-default:active:focus
.open > .dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-default:hover,
.open > .dropdown-toggle.btn-default:focus
  background-color: transparent
  border-color: sred

.bootstrap-select .dropdown-toggle:focus
  outline: none !important

.select
  .btn
  .dropdown-menu
    border-radius: 0
  .btn:active,
  .btn.active
    box-shadow: none
  .btn-default
    background-color: transparent
    border: 1px solid #b7b7b7

.bootstrap-select.btn-group .dropdown-menu
  max-width: 100%

.bootstrap-select.btn-group .dropdown-menu li a
  white-space: normal

.site_dropdown
  button
    width: 100%
  button
  button:hover
  button:focus
    border-radius: 0
    background-color: transparent
  button
  button:hover
    border-color: #b7b7b7
  button:focus:active
    outline: 0
    box-shadow: none
    background-color: transparent

.site_dropdown.open
  button
    border-color: sred

.fa
  top: 1px

.panel
.btn
  border-radius: 0