@font-face {
  font-family: 'Segoe-Regular';
  src: url('../fonts/Segoe-Regular.eot');
  src: url('../fonts/Segoe-Regular.woff2') format('woff2'),
  url('../fonts/Segoe-Regular.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/Segoe-Regular.woff') format('woff'),
  url('../fonts/Segoe-Regular.ttf') format('truetype'),
  url('../fonts/Segoe-Regular.svg#SegoeUI') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe-Bold';
  src: url('../fonts/Segoe-Bold.woff') format('woff'),
  url('../fonts/Segoe-Bold.ttf') format('truetype'),
  url('../fonts/Segoe-Bold.svg#SegoeUI-Bold') format('svg');
  src: url('../fonts/Segoe-Bold.eot');
  src: url('../fonts/Segoe-Bold.woff2') format('woff2'),
  url('../fonts/Segoe-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe-Light';
  src: url('../fonts/Segoe-Light.woff') format('woff'),
  url('../fonts/Segoe-Light.ttf') format('truetype'),
  url('../fonts/Segoe-Light.svg#SegoeUI-Light') format('svg');
  src: url('../fonts/Segoe-Light.eot');
  src: url('../fonts/Segoe-Light.woff2') format('woff2'),
  url('../fonts/Segoe-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-Light';
  src: url('../fonts/FiraSans-Light.eot');
  src: url('../fonts/FiraSans-Light.woff2') format('woff2'),
  url('../fonts/FiraSans-Light.woff') format('woff'),
  url('../fonts/FiraSans-Light.ttf') format('truetype'),
  url('../fonts/FiraSans-Light.svg#FiraSans-Light') format('svg'),
  url('../fonts/FiraSans-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-Medium';
  src: url('../fonts/FiraSans-Medium.eot');
  src: url('../fonts/FiraSans-Medium.woff2') format('woff2'),
  url('../fonts/FiraSans-Medium.woff') format('woff'),
  url('../fonts/FiraSans-Medium.ttf') format('truetype'),
  url('../fonts/FiraSans-Medium.svg#FiraSans-Medium') format('svg'),
  url('../fonts/FiraSans-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-Bold';
  src: url('../fonts/FiraSans-Bold.eot');
  src: url('../fonts/FiraSans-Bold.woff2') format('woff2'),
  url('../fonts/FiraSans-Bold.woff') format('woff'),
  url('../fonts/FiraSans-Bold.ttf') format('truetype'),
  url('../fonts/FiraSans-Bold.svg#FiraSans-Medium') format('svg'),
  url('../fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-Regular';
  src: url('../fonts/FiraSans-Regular.eot');
  src: url('../fonts/FiraSans-Regular.woff2') format('woff2'),
  url('../fonts/FiraSans-Regular.woff') format('woff'),
  url('../fonts/FiraSans-Regular.ttf') format('truetype'),
  url('../fonts/FiraSans-Regular.svg#FiraSans-Medium') format('svg'),
  url('../fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hind-Bold';
  src: url('../fonts/Hind-Bold.eot');
  src: url('../fonts/Hind-Bold.woff2') format('woff2'),
  url('../fonts/Hind-Bold.woff') format('woff'),
  url('../fonts/Hind-Bold.ttf') format('truetype'),
  url('../fonts/Hind-Bold.svg#Hind-Bold') format('svg'),
  url('../fonts/Hind-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hind-Light';
  src: url('../fonts/Hind-Light.eot');
  src: url('../fonts/Hind-Light.woff2') format('woff2'),
  url('../fonts/Hind-Light.woff') format('woff'),
  url('../fonts/Hind-Light.ttf') format('truetype'),
  url('../fonts/Hind-Light.svg#Hind-Light') format('svg'),
  url('../fonts/Hind-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hind-Medium';
  src: url('../fonts/Hind-Medium.eot');
  src: url('../fonts/Hind-Medium.woff2') format('woff2'),
  url('../fonts/Hind-Medium.woff') format('woff'),
  url('../fonts/Hind-Medium.ttf') format('truetype'),
  url('../fonts/Hind-Medium.svg#Hind-Medium') format('svg'),
  url('../fonts/Hind-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hind-Regular';
  src: url('../fonts/Hind-Regular.eot');
  src: url('../fonts/Hind-Regular.woff2') format('woff2'),
  url('../fonts/Hind-Regular.woff') format('woff'),
  url('../fonts/Hind-Regular.ttf') format('truetype'),
  url('../fonts/Hind-Regular.svg#Hind-Regular') format('svg'),
  url('../fonts/Hind-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}