.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after
  background-color: #fff

.hamburger
  padding: 0

.mm-navbar__title
  text-align: right
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after
    background-color: #000