@media screen and  (min-width:1200px) {
  .container {
    width:100%;
  }
}

@media screen and  (min-width:1420px) {
  .container {
    width:1400px;
  }
}

@media screen and  (max-width:1420px) {
  .header__menu ul li {
    margin 0 5px
  }
}

@media screen and  (max-width:1200px) {
  .s__item__more {
    bottom: 65px;
  }

  .recom-serv:before {
    width: 250px;
  }

  .s__item__address {
    margin-bottom: 40px;
  }

  .rep-radios__item {
    padding-left: 20px;
  }

  .service-reply-form__esti span {
    padding-top: 0;
  }

  .service-reply-form__fields label {
    width: auto;
  }
}

@media screen and  (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left;
  }
}