a:hover
  color inherit

.padding-left
  padding-left 0
.padding-right
  padding-right 0

.search_select-button
  width 100%
  min-height 49px
  border bgrey
  color tgrey
  text-transform uppercase
  text-align left
  position relative
  font 11px fsl
  letter-spacing 1pt
  padding 15px
  padding-right: 30px
  background-color transparent
  cursor pointer
  margin-top 20px

.search_select-button:after
  margin 0
  position absolute
  right 20px
  top 47%
  text-align left

.search_select-list
  width 100%
  border bgrey
  color tgrey
  text-transform uppercase
  text-align left
  font 11px fsl
  letter-spacing 1pt
  background-color white
  top 66px
  max-height 285px
  overflow-y scroll
  border-top-color sred
  li
    padding 15px
    transition tr
  li:hover
    color sred
    cursor pointer
  label:before
    top 0
  .search__label
    margin-bottom 15px

.search_confirm-request
  width 280px
  height 49px
  font 12px fsl
  color white
  background-color sred
  border none
  cursor pointer
  margin 0 auto
  text-transform uppercase
  letter-spacing 1pt
  display block

.search_services
  text-align left
  width 350px
  position static
  z-index 9
  top 80px

.search_services__fix
  width 350px

.search_select-sorting
  min-width 160px
  min-height 33px
  height 33px
  padding 0
  padding-left 8px
  padding-right 35px

.search_sort-list
  min-width 160px
  background-color white
  top 50px
  li
    padding 9px

.search_col
  max-width 300px

.search form.search-form_hide
  display none

.red_text_hover
  transition tr

.red_text_hover:hover
  color sred
  transition tr

.red_text_hover:hover:before
  border-color sred
  transition tr

.red_text_hover:checked + label
  color sred

.red_text_hover:checked + label:before
  border-color sred
  background-image url("../img/icons/active-arrow-red.png")
  transition-property border-color, color

.red_hover
  transition tr

.red_hover:hover
  background-color sredh
  transition tr

a.red_hover:hover
  color white

.soc_hover
  transition tr
  opacity .5

.soc_hover:hover
  transition tr
  opacity 1

.red_bord_hover
  transition tr

.red_bord_hover:hover
  border-color sred
  color sred
  transition tr

.red_bord_hover_reply-form:focus
  border-color sred
  transition tr
  outline none

.open .red_bord_hover
  border-color sred
  color sred
  transition tr

.red_link_hover
  transition tr

.red_link_hover:hover
  transition tr
  color sredh

.footer a:hover
  color #9b9b9b
  transition tr

.ser__price__table_after
  position relative
  z-index 1
  cursor pointer

.ser__price__table_after:after
  content ''
  position absolute
  width 70%
  height 100%
  left 0
  top 0
  z-index -1
  cursor pointer