/* Fonts */
sr = 'Segoe-Regular'
sb = 'Segoe-Bold'
sl = 'Segoe-Light'
/*fsl = 'FiraSans-Light'*/
fsll = 'FiraSans-Light'
fsl = 'Segoe-Regular'
fsm = 'FiraSans-Medium'
fsb = 'FiraSans-Bold'
fsr = 'FiraSans-Regular'
hb = 'Hind-Bold'
hl = 'Hind-Light'
hm = 'Hind-Medium'
hr = 'Hind-Regular'

/* Colours */
sred = #f5434c
sredh = #cb2f37
bgrey = 1px solid #b7b7b7
tgrey = #6e6e6e

/* Sizes */
footerHeight = 200px
headerHeight = 90px

/* Transition */
al = all
s = .3s
tr = al + ' ' + s