sr = 'Segoe-Regular'
sb = 'Segoe-Bold'
sl = 'Segoe-Light'
/*fsl = 'FiraSans-Light'*/
fsll = 'FiraSans-Light'
fsl = 'Segoe-Regular'
fsm = 'FiraSans-Medium'
fsb = 'FiraSans-Bold'
fsr = 'FiraSans-Regular'
hb = 'Hind-Bold'
hl = 'Hind-Light'
hm = 'Hind-Medium'
hr = 'Hind-Regular'
sred = #f5434c
sredh = #cb2f37
bgrey = 1px solid #b7b7b7
tgrey = #6e6e6e
al = all
s = .3s
tr = al + ' ' + s